body {
    height: 100%;
    background-color:#313859;}
h2 {
    margin: 50px;
    line-height: 1.5;
    font-family: Inter;
    color: #B69033;
}
img {
    /*Закруглил края изображения*/
    border-radius: 35px; 
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.wrapper {
    min-height: 100%;
}
.myButton {
    border: 3px solid #B69033;
    font-size: 30px;

}